* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

/* annucement-bar */
.announcement-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: rgb(207, 222, 140);
    overflow-x: hidden;
}


.announcement-bar ul {
    display: flex;
    justify-content: flex-start;
    animation: move-rtl 80s linear infinite;
}

.announcement-bar ul li {
    font-size: 12px;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap;
    padding: 0 50px;
    letter-spacing: 2px;
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}


/* banner */
.picture-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title-container {
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.title-text {
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.6px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    justify-content: center;
}


.button {
    display: inline-block;
    padding: 15px 50px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 200;
    word-spacing: 4px;
    letter-spacing: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(61, 57, 57);
}


/* navbar  */
.header {
    width: 100%;
    position: absolute;
    top: 10%;
}

.container {
    width: 100%;
    margin: auto;
    padding: 0 3%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 110px;
    height: auto;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu-main li {
    display: inline-block;
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.2px;
    margin-right: 20px;
}

.fas.fa-angle-down {
    margin-left: 5px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.header.item-center img {
    max-width: 100%;
    height: auto;
}

.svg-container {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.header .item-right .menu-main {
    display: inline-flex;
    font-size: 14px;
    align-items: center;
}

#hamburger-icon {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 50%;
    left: -50%;
    height: 100%;
    background-color: #fff;
    transition: left 0.3s ease;
    z-index: 1000;
    line-height: 40px;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
}

#hamburger-icon {
    cursor: pointer;
}

#close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* discount section */
.main .data-ird {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 35px 100px;
}

.data-ird .as-seen {
    width: 10%;
}

.data-ird .image-names {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.data-ird-img-container {
    width: 120px;
    height: 30px;
}


.image-names img {
    width: 100px;
    height: auto;
    object-fit: contain;
}


.data-ird-img-container:nth-child(6) {
    margin-top: -20px;
    width: 120px;
    height: 15px;
}

.data-ird-img-container:nth-child(7) {
    margin-top: -20px;
}

.horizontal-line {
    width: 100%;
    color: black;
}



.disconunt-container {
    width: 100%;
    display: flex;
    padding: 40px;
}

.right-div {
    width: 55%;
}

.left-div {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    padding-right: 10px;
}


.right-div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.disconunt-container .left-div h1 {
    font-size: 35px;
}

.disconunt-container .left-div p {
    font-size: 18px;
    letter-spacing: 1.2px;
    word-spacing: 5px;
}


.visit-button {
    width: 300px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 12px;
    padding: 15px 20px;
    border-radius: 20px;
    font-weight: 200;
    word-spacing: 4px;
    letter-spacing: 5px;
    transition: background-color 0.3s;
}

.visit-button:hover {
    background-color: rgb(61, 57, 57);
}


/* Top seller*/
.top-seller {
    width: 100%;
    text-align: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(247, 245, 241);
}


.top-seller h1 {
    font-size: 42px;
    letter-spacing: 1.2px;
}

.top-seller p {
    font-size: 20px;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
}

.top-seller .cart-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    box-sizing: border-box;
}

.cart-container .cart {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.cart-container .cart:hover {
    border: 1px solid black;
}


.cart-container .cart .product-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.cart-container .cart .product-img img {
    width: 100%;
}


.cart-container .cart .title-div {
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: start;
    padding: 25px;
}

.title-div p {
    font-weight: bold;
    font-size: 18px;
}

.cart-container .description {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.cart .review {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.review .review-div {
    width: 100%;
    display: flex;
    flex-direction: start;
    margin-bottom: 10px;
}

.review .review-div span {
    margin-left: 10px;
}

.review .review-div p {
    text-align: start;
}

.review .review-div span,
.review .review-div p {
    font-size: 15px;
    letter-spacing: 1.1px;
    color: gray;
}


.cart-container .cart select,
.cart-container .cart button {
    width: 100%;
    margin-top: 10px;
}

.cart-container .cup-container {
    display: flex;
    gap: 10px;
}

.cart-container .cup-container img {
    width: 18px;
    height: 13px;
}

.cart-container .cart select {
    padding: 5px;
    border-radius: 20px;
    padding: 8px 22px;
}

.cart-container .cart button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 15px;
    font-size: 15px;
    letter-spacing: 1.2px;
}

.cart-container .cart button:hover {
    background-color: rgb(231, 231, 89);
}



/* picture and unmatched section start */
.unmatched {
    width: 100%;
    text-align: center;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(247, 245, 241);
}

.details-container {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 20px 40px;
    text-align: start;
    word-spacing: 5.8px;
}

.detal-meta-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px 20px;
}

.detal-meta-data h1 {
    font-size: large;
    letter-spacing: 1.2px;
}

.detal-meta-data p {
    font-size: medium;
    letter-spacing: 1.2px;
}

.firebelly p {
    letter-spacing: 1.2px;
    font-size: 15px;
}

.firebelly h1 {
    letter-spacing: 1.3px;
    font-size: 35px;
}

.image-wrapper {
    width: 100%;
    overflow: hidden;
}

.image-container {
    width: 100%;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

/* picture and unmatched section end*/


/* Review section  start */

.slider {
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0px;
}

.slider-heading {
    font-size: 25px;
    margin-bottom: 30px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.carousel-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow: hidden;
}

.carousel-item {
    width: 50%;
    height: 370px;
    display: flex;
    border: 1px solid white;
}

.carousel-item .left-desc,
.carousel-item .right-img {
    width: 50%;
}

.carousel-item .right-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.left-desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    font-size: 21px;
    text-align: start;
    margin-top: 12px;
}


.stars {
    color: rgb(229, 137, 121);
    font-size: 24px;
}

.star {
    display: inline-block;
}

.carousel-prev,
.carousel-next {
    width: 25%;
    height: 370px;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
}

.carousel-prev {
    border-left: 0px;
    padding: 0px 0px 0px 50px;
}

.carousel-next {
    border-right: 0px;
}

.carousel-prev .left-desc {
    display: none;
}

.carousel-prev .right-img {
    width: 100%;
    height: 100%;
}

.carousel-prev .right-img img {
    width: 100%;
    height: 100%;
}


.carousel-next .left-desc {
    width: 80%;
    height: 100%;
}

.carousel-next .right-img {
    width: 20%;
    height: 100%;
}

.carousel-next .right-img img {
    height: 100%;
}


.carousel-btn button {
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.carousel-btn button i {
    font-size: 35px;
}

/* Review section  end */





 /* popular section start */

 .popular{
    width: 100%;
    background-color: rgb(247,245,241);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .popular h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 1.5px;
 }
 .popular-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.popular-container .popular-item{
    display: flex;
    flex-direction: column;
    overflow: auto;
    border: 1px solid #ddd;
}

.popular-container .popular-item:hover{
border: 1px solid black;
}
.popular-item .popular-title{
    width: 100%;
    font-size: 18px; 
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
    font-weight: bold;
    text-align: start; 
    padding: 10px 20px;
    background-color: white;
}

.popular-item .popular-image{
    width: 100%;
    height: 340px;
    overflow: hidden;
}

.popular-item .popular-image img{
    width: 100%; 
    height:  auto;
    object-fit: cover;
}

.popular-item .popular-browse {
    text-align: center; 
    padding: 10px; 
    background-color: black;
    color: white;
    letter-spacing: 1.2px;
    word-spacing: 1.2px;
}

.popular-item .popular-browse:hover{
    background-color: rgb(193, 219, 66);
}
 
/* popular section end */



/* Small screens (max-width: 767px) */
@media screen and (max-width: 767px) {
    .banner-section .title-container {
        width: 95%;
    }

    .title-text {
        font-size: 30px;
        line-height: 38px;
        margin-bottom: 30px;
    }

    .button {
        padding: 17px 23px;
        font-size: 14px;
        border-radius: 20px;
    }

    .item-left .menu {
        display: none;
    }

    .item-right .menu-main li:nth-child(2),
    .item-right .menu-main li:nth-child(3) {
        display: none;
    }

    #hamburger-icon {
        display: inline-block;
        font-size: 15px;
    }

    #close-sidebar {
        font-size: 15px;
    }


    .main .data-ird {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main .data-ird .as-seen {
        width: 100%;
        text-align: center;
    }

    .main .data-ird .image-names {
        width: 100%;
        display: flex;
        gap: 10px;
        overflow-x: hidden;
        animation: move-rtl 10s linear infinite;
    }

    .disconunt-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .disconunt-container .left-div {
        width: 100%;
        text-align: center;
    }

    .disconunt-container .right-div {
        width: 100%;
    }

    .visit-button {
        width: auto;
        margin: 0 auto;
        display: block;
    }

    .unmatched {
        width: 100%;
        padding: 0% 0%;
    }

    .unmatched .details-container {
        display: flex;
        flex-direction: column;
        padding: 0% 0%;
    }

    .popular-container {
        grid-template-columns: repeat(2, 1fr) !important; /* Add !important to ensure it overrides other styles */
    }

    .popular-item .popular-image{
        height: 250px;
    }

    .popular-item .popular-title{
        font-size: 12px;  
    }
    
    .popular-item .popular-browse{
        font-size: 12px;
    }
}

/* Small screens (max-width: 767px) end*/



/* mid screens (max-width: 997px) start*/
@media screen and (max-width: 997px) {

    .title-container {
        width: 60%;
    }

    .title-text {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 0.6px;
        margin-bottom: 35px;
    }

    .item-left .menu {
        display: none;
    }

    .item-right .menu-main li:nth-child(2),
    .item-right .menu-main li:nth-child(3) {
        display: none;
    }

    #hamburger-icon {
        display: inline-block;
        font-size: 25px;
    }

    #close-sidebar {
        font-size: 25px;
    }

    .main .data-ird {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .main .data-ird .as-seen {
        width: 100%;
        text-align: center;
    }

    .main .data-ird .image-names {
        width: 100%;
        display: flex;
        overflow-x: hidden;
        gap: 10px;
    }


    .disconunt-container .left-div h1 {
        font-size: 30px;
    }

    .disconunt-container .left-div p {
        font-size: 15px;
        letter-spacing: 1.1px;
        word-spacing: 4px;
    }

    .visit-button {
        width: 280px;
        font-size: 12px;
    }

    #cart-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .unmatched {
        padding: 40px;
    }
}

/* mid screens (max-width: 997px) end*/
